{% extends 'base.html.twig' %}

{% block title %}
	Gestion des tâches
{% endblock %}
{% block stylesheets %}
	{{ parent()}}

	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
<div id="toast"><div id="img"></div><div id="desc"></div></div>

	<div class="container-fluid my-5 border">
		<h1>Gestion des tâches</h1>
		<p>Liste de toutes les tâches</p>


		<div class="row">
			<table id="example" class="table table-striped" style="width:100%">
				<thead>
					<tr>
						<th>Titre</th>
						<th>Description</th>
						<th>Date de création</th>
						<th>Etat</th>
						<th>Option</th>
						
					</tr>
				</thead>
				<tbody>
				{% for task in tasks %}


				{% set couleur = "bg-primary"%}
				{% if task.etat.id == 2 %}
					{% set couleur = "bg-success"%}
				{% elseif task.etat.id == 3 %}
					{% set couleur = "bg-danger"%}
				{% endif %}
					<tr>
						<td>{{ task.titre | raw | upper}}</td>
						<td>{{ task.description | raw | capitalize}}</td>
						<td>{{ task.creeLe | date('d/m/Y') }}</td>
						<td><span class="badge {{couleur | raw }}" id="badge{{task.id}}">{{ task.etat.libelle | raw | upper}}</span></td>
						<td>
						<div id="buttons{{task.id}}">

						{% if task.etat.id == 1 %}

							<a href="{{ path('app_task_edit',{id : task.id})}}" class="btn btn-success btn-sm text-white">Modifier</a>
							<a href="javascript:;" class="btn btn-light btn-sm  text-black" onclick="finishTask({{task.id}})">Terminée</a>
							<a href="javascript:;" class="btn btn-danger btn-sm text-white" onclick="cancelTask({{task.id}})">Annulée</a>

						{% endif %}
					</div>
						</td>
						
					</tr>
					{% endfor %}
					
				</tbody>

			</table>


		</div>


	</div>
{% endblock %}
{% block javascripts %}
	{{ parent()}}


	
	<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
	
	

{% endblock %}
