{% extends 'base.html.twig' %}

{% block title %}
	Gestion des tâches
{% endblock %}

{% block body %}

	<div id="toast">
		<div id="desc"></div>
	</div>
	<div class="container-fluid my-5 border">
		<h1>Gestion des tâches</h1>
		<p>Liste de toutes les tâches</p>

		{{ form_start(form)}}

		<div class="flex justify-center">
			<div class="mt-3">
				<div class="input-group relative flex flex-wrap items-stretch x-full mb-4">
					{{ form_widget(form.mot)}}
					{{ form_widget(form.etat)}}
					<button class="btn btn-primary">Rechercher</button>
				</div>

			</div>
		</div>
		{{ form_end(form)}}
		<div class="row">
			{% for task in tasks %}


				{% set couleur = "bg-primary"%}
				{% if task.etat.id == 2 %}
					{% set couleur = "bg-success"%}
				{% elseif task.etat.id == 3 %}
					{% set couleur = "bg-danger"%}
				{% endif %}


				<div class="col-lg-4 col-md-6 col-sm-12 mt-2 ">
					<div class="card ">
						<div class="card-header">

							<h6>{{ task.titre | raw | upper}}</h6>
							<span class="badge {{couleur | raw }}" id="badge{{task.id}}">{{ task.etat.libelle | raw | upper}}</span><br><span class="fs-6 lead">
								Crée le :
								{{ task.creeLe | date('d/m/Y') }}
							</span>
						</div>
						<div class="card-body">
							<h5 class="card-title">{{ task.description | raw | capitalize}}</h5>
							<p class="card-text">

								<div class="btn-group" role="group" aria-label="Basic mixed styles example">
									<div id="buttons{{task.id}}">

										{% if task.etat.id == 1 %}

											<a href="{{ path('app_task_edit',{id : task.id})}}" class="btn btn-success btn-sm text-white">Modifier</a>
											<a href="javascript:;" class="btn btn-light btn-sm  text-black" onclick="finishTask({{task.id}})">Terminée</a>
											<a href="javascript:;" class="btn btn-danger btn-sm text-white" onclick="cancelTask({{task.id}})">Annulée</a>

										{% endif %}
									</div>

								</div>
							</p>


						</div>
					</div>
				</div>


			{% endfor %}


		</div>


	</div>

	<ul class="pagination">
		{{ knp_pagination_render(tasks) }}
	</ul>

{% endblock %}
