{% extends 'base.html.twig' %}

{% block title %}Gestion des tâches
{% endblock %}

{% block body %}



	<div class="container-fluid mt-4">
		<h1>Gestion des tâches</h1>
		<p>Création d'une nouvelle tâche</p>
	

		{{ form_start(formulaire)}}
		{{ form_widget(formulaire)}}
		{{ form_end(formulaire)}}
	

	</div>

{% endblock %}
