<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		
			<link href="{{ asset('template/css/main.css') }}" rel="stylesheet" type="text/css">

		{% endblock %}

		{% block javascripts %}
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
			
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
			<script src="{{ asset('template/js/main.js') }}"></script>
		{% endblock %}
	</head>
	<body>
		{% include "navbar.html.twig" %}


		<!-- Affichage des messages FLASH-->
		{% for message in app.flashes('success') %}


			<div class="alert alert-success flash" role="alert">
				{{ message | raw }}
			</div>


		{% endfor %}
		{% for message in app.flashes('danger') %}

			<div class="alert alert-danger flash" role="alert">
				{{ message | raw }}
			</div>

		{% endfor %}
		{% for message in app.flashes('warning') %}

			<div class="alert alert-warning flash" role="alert">
				{{ message | raw }}
			</div>
		{% endfor %}

		{% block body %}{% endblock %}
	</body>
</html>
