<nav class="navbar navbar-expand-lg navbar-light bg-light border border-1 border-info">
  <div class="container-fluid">
    <a class="navbar-brand text-body" href="{{ path('app_task')}}">Gestion des tâches</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ path('app_task')}}">Liste des tâches</a>
        </li>
         <li class="nav-item">
          <a class="nav-link"  href="{{ path('app_task_tables')}}">Liste des tâches avec le DataTables</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_task_new')}}">Nouvelle tâches</a>
        </li>
    
      </ul>
    </div>
  </div>
</nav>