/* c'est pour centrer les elements du message Flash */
.flash {
    text-align : center;
    font-size: 20px;
}


#toast {
    visibility: hidden;
    max-width: 50px;
    height: 40px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: #00BFFF;
    color: #fff;
    text-align: center;
    border-radius: 20px; /* Valeur de border-radius augmentée pour créer une bordure arrondie */
    position: fixed;
    z-index: 100;
 
    right: 0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
    display: flex; /* Ajout de la propriété flex pour centrer le texte */
    align-items: center; /* Centrage vertical du texte */
    justify-content: center; /* Centrage horizontal du texte */
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#toast.fade-out {
    opacity: 0;
}

#toast #desc{

    
    color: #fff;
   
    padding: 16px;
    
    overflow: hidden;
	white-space: nowrap;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px} 
    to {min-width: 350px}
}

@keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}
@-webkit-keyframes stay {
    from {min-width: 350px} 
    to {min-width: 350px}
}

@keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}
@-webkit-keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}